<!DOCTYPE html>

<html>
    <head>
        <title>New Tech</title>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="aforyou.css">
        
        <link rel="icon" href="img/new-tech-website-favicon-color.png">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">

    </head>
    <body>
        
            <nav class="nav" id="nav">
                <div class="wrap">
                    <div class="logo">
                        <img src="home_20dp_FILL0_wght400_GRAD0_opsz20.png" alt="" style="width: 20px;">
                        <span id="home">Homepage</span>
                    </div>
                    <div class="selection">
                        <ul>
                            <li>
                                <img src="quiz_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" style="width: 18px;">
                                <a href="">Quizes</a>
                            </li>
                            <li>
                                <img src="summarize_20dp_FILL0_wght400_GRAD0_opsz20.png" alt="" style="width: 18px;">
                                <a href="">Notes</a>
                            </li>

                        </ul>
                    </div>
        
                </div>


               
                <div class="last">
    
                    <div class="w-logout" style="padding: 10px;display: flex;gap: 5px;">
                        <img class="log-out" src="logout_20dp_FILL0_wght400_GRAD0_opsz20.png" style="width: 18px;"/>
                        <span id="logout" style="margin: 0%;">Log out</span>
                    </div>
    
                    <div class="back" style="padding: 10px;" id="back">
                        <img id="dd" class="log-out" src="arrow_back_ios_20dp_FILL0_wght400_GRAD0_opsz20.png" width="18px" >
                        
                    </div>
                    
                </div>
    
    
            </nav>


    
        <div class="container" id = 'container' >
            <div class="title">Subject Name</div>
            <div class="content">
                <div class="quiz-box"><h1 style="font-weight: 300;">Notes</h1>
                    <a href="">Note1</a>
                    <a href="">Note2</a>
                </div>
                <div class="assginment-box"><h1 style="font-weight: 300;">Quizes</h1>
                    <a href="">Quiz1</a>
                    <a href="">Quiz2</a>
                </div>

            </div>

           
        </div>
        
        
        
       

       
       
    <script src="foryou.js"></script> 
    </body>
</html>