<!DOCTYPE html>

<html>


<head>
    <title>New Tech</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="qu.css">
    
    <link rel="icon" href="img/new-tech-website-favicon-color.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">

  
</head>

<body>
        <div class="container">
            <div>
                <div class="question ">
                    <div class="q-line"></div>
                    <p>Why are the lorens iugrigeo genartors on the internet tend to repeat predifined chucks as nessery</p>
                </div>
                <div class="answers">
                    <div class="answer" id="a1">lhkdghjn lfkhlgkh is smpy dummy</div>
                    <div class="answer" id="a2">There are many variations</div>
                    <div class="answer" id="a3">All the are genatorbshrbvs</div>
                    <div class="answer" id="a4">kjgbskg skrjgbsrkg simply text genrators</div>
                </div>

                <div class="btn">Next</div>

            </div>

            <img src="customer-feedback-survey-questionsL.png" alt="" class="img">
            
        
            
        
        </div>
        
    

<script src="qs.js"></script>    
</body>


</html>