{% extends "initialization_base.html" %}

{% block title %} Sign Up {% endblock %}

{% block content %}

<form method="POST" action="/sign_up">
  <br />
  <h3 align="center">Sign Up</h3>

  <div class="col-md-6">
    <label for="first_name" class="form-label">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" />
  </div>
  <div class="col-md-6">
    <label for="last_name" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" />
  </div>

  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email"/>
  </div>
  <div class="col-md-6">
    <label for="password1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password1" name="password1"/>
  </div>
  <div class="col-md-6">
    <label for="password2" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="password2" name="password2" />
  </div>
  <div class="col-12">
    <label for="school" class="form-label">School/University</label>
    <input
      type="text"
      class="form-control"
      id="school"
      name="school"
      placeholder="Enter school/university"
    />
  </div>
  <div class="col-12">
    <label for="learner-type" class="form-label">Learner Type</label>
    <input
      type="text"
      class="form-control"
      id="learner-type"
      name="learner-type"
      placeholder="enter learner type"
    />
  </div>
  <div class="col-md-6">
    <label for="language" class="form-label">Prefered Language</label>
    <input type="text" class="form-control" id="language" name="language"/>
  </div>
 <br />
  <div class="col-12 mb-5">
    <button type="submit" class="btn btn-primary mt-5">Sign Up</button>
  </div>
</form>

{% endblock %}